@import "./base.css";

#app {
  margin: 0 auto;
}

a,
.green {
  text-decoration: none;
  color: rgb(214, 184, 15);
  transition: 0.4s;
  padding: 3px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
